.footer {
	background-color: $card-bg;
	color: $text;
	font-family: $acn;
	box-shadow: 0 -2px 1rem black;

	&__wrapper {
		padding: 2rem 0;
	}

	&__title {
		text-align: center;
		font-size: 3rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	&__nav {
		display: flex;
		justify-content: space-evenly;
		padding: 1rem;
		margin: 2rem 0;
	}

	&__heading {
		margin-bottom: 1rem;
		text-align: center;
	}

	&__list {
		list-style: none;
		font-size: 2rem;
	}

	&__items {
		padding: 0.7rem 0;

		& a {
			color: $secondary;
			text-decoration: none;
			transition: all 0.6s;

			&:hover {
				color: $text;
			}
		}
	}

	&__disclaimer {
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.5;
	}

	&__copy {
		text-align: center;
		font-size: 2rem;
		margin: 2rem 0 0;
	}
}
