// // // Color

$background: #3f2966;
$secondary: #d382c3;
$text: #d5ae6d;
$card-bg: #1d1321;
$border: #7d699c;

// // // Font Family

// Caslon Antique
$can: 'cantique', serif;
$cab: 'cantiqueb', serif;
$cabi: 'cantiquebi', serif;

// Adobe Caslon Pro
$acn: 'acpro', serif;
$acb: 'acprob', serif;
$acbi: 'acprobi', serif;
